@import '~/assets/styles';

.link {
  margin: spacing(1, 1.5);
}
.footer {
  margin-top: $spacing20;
  padding-bottom: $spacing8;
  @include breakpoints-up(md) {
    padding-top: $spacing10;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      line-height: 32px;
      a {
        @include palette-text-secondary;
        text-decoration: none;
        font-size: 14px;
        &:hover {
          color: $palette-primary-main
        }
      }
    }
  }
  p {
    @include breakpoints-down(sm) {
      padding: spacing(0, 3)
    }
  }
  .accordion-root {
    margin: 0 auto;
    margin-top: $spacing2
  }
  .body-2 {
    @include palette-text-secondary
  }
  &-desc{
    display: block;
    font-size: 14px;
    margin-bottom: $spacing2
  }
}

.footer-desc {
  display: block;
  font-size: 14px;
  margin-bottom: $spacing2;
  @include breakpoints-down(sm) {
    text-align: center
  }
}

.title-main {
  font-size: 14px
}

.title-nav {
  .theme--dark & {
    color: $palette-primary-light
  }
  .theme--light & {
    color: $palette-primary-dark
  }
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: $spacing3;
  font-weight: $font-bold
}
.logo {
  display: flex;
  align-items: center;
  margin-bottom: $spacing3;
  @include breakpoints-down(sm) {
    justify-content: center;
    padding: spacing(0, 3)
  }
  img {
    filter: grayscale(1) contrast(0.5) brightness(1.5);
    width: 62px;
    @include margin-right($spacing1)
  }
  h6 {
    @include palette-text-disabled
  }
}
.socmed {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing4;
  a {
    margin: $spacing1;
    background: $palette-primary-main;
    width: 36px;
    height: 36px;
    .icon {
      color: $palette-common-white
    }
  }
  button {
    margin: $spacing1;
    background: $palette-primary-main;
    width: 36px;
    height: 36px;
    .icon {
      color: $palette-common-white
    }
  }
  .icon {
    font-size: 24px
  }
}

.icon {
  & + div {
    background: none !important;
    padding: spacing(1.5, 1.5, 1.5, 4);
    width: calc(100% - 32px)
  }
}

.select-lang.v-text-field.v-text-field--enclosed {
  margin: 0 auto;
  width: 200px;
  display: inherit;
  margin-top: $spacing2;
  ::v-deep .v-input__slot{
    min-height: 43px;
  }
  ::v-deep .v-input__append-inner,
  ::v-deep .v-input__prepend-inner {
    margin-top: 12px
  }
  ::v-deep .v-select__selections,
  ::v-deep .v-icon{
    padding: 0;
    .theme--dark & {
      color: $palette-secondary-light 
    }
    .theme--light & {
      color: $palette-secondary-main 
    }
  }
  ::v-deep fieldset {
    box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
    .theme--dark & {
      border-color: $palette-secondary-light
    }
    .theme--light & {
      border-color: $palette-secondary-main
    }
    legend {
      top: 5px;
      position: relative;
    }
  }
}
.site-map-item {
  @include breakpoints-down('md') {
    padding-bottom: 0 !important;
    padding-top: 0 !important
  }
}
.accordion-root {
  background: none;
  box-shadow: none;
  max-width: 480px
}
#main-wrap .accordion-content.v-expansion-panel {
  background-color: transparent;
  &:before, &:after {
    display: none
  }
}
.accordion-icon {
  padding: 0
}
