<template>
  <footer class="footer">
    <v-container class="max-lg">
      <v-row class="spacing4">
        <v-col
          class="py-0 px-4"
          md="3"
          cols="12"
        >
          <div class="logo">
            <img
              :src="logo"
              alt="logo"
            >
            <h6 class="title">
              {{ brand.architect.footerProjectname }}
            </h6>
          </div>
          <p class="footer-desc pb-2">
            ИП Моисеев Максим Алексеевич
          </p>
          <p class="footer-desc pb-2">
            +7(996)342-11-11
          </p>
          <p class="footer-desc pb-2">
            kuhniv.dom@yandex.ru
          </p>
          <p class="body-2" v-if="isDesktop">
            &copy;&nbsp;
            {{ brand.architect.footerText }}
          </p>
        </v-col>
        <v-col
          class="py-0 px-6"
          md="6"
          cols="12"
        >
          <v-expansion-panels v-if="isMobile" class="accordion-root">
            <v-expansion-panel
              v-for="(footer, index) in footers"
              :key="index"
              class="accordion-content"
            >
              <v-expansion-panel-header>
                <h6 class="title-main mb-4">
                  {{ footer.title }}
                </h6>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <ul>
                  <li
                    v-for="(item, index) in footer.description"
                    :key="index"
                  >
                    <nuxt-link :to="footer.link[index]">
                      {{ item }}
                    </nuxt-link>
                  </li>
                </ul>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <v-row justify="space-around" v-if="isDesktop">
            <v-col
              v-for="(footer, index) in footers"
              :key="index"
              sm="3"
              cols="12"     
              class="px-4 site-map-item"
            >
              <h6 class="title-nav">
                {{ footer.title }}
              </h6>
              <ul>
                <li
                  v-for="(item, index) in footer.description"
                  :key="index"
                >
                  <nuxt-link :to="footer.link[index]">
                    {{ item }}
                  </nuxt-link>
                </li>
              </ul>
            </v-col>
          </v-row>
        </v-col>
        <v-col
          md="3"
          cols="12"
          class="py-0 px-4"
        >
          <div class="socmed">
            <v-btn
              text
              icon
              class="button"
            >
              <v-icon class="ion-social-whatsapp icon" />
            </v-btn>
            <v-btn
              text
              icon
              class="button"
            >
              <span class="ion-social-youtube icon" />
            </v-btn>
            <v-btn
              icon
              text
              class="button"
            >
              <v-icon class="ion-social-instagram icon" />
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <p class="body-2 text-center" v-if="isMobile">
        &copy;&nbsp;
        {{ brand.architect.footerText }}
      </p>
    </v-container>
  </footer>
</template>

<style scoped lang="scss">
@import './footer-style';
</style>

<script>
import logo from '~/static/images/furniture-logo.png'
import brand from '~/static/text/brand'

export default {
  data: () => ({
    logo: logo,
    brand: brand,
    lang: 'en',
    footers: [
      // {
      //   title: 'Company',
      //   description: ['Team', 'History', 'Contact us', 'Locations'],
      //   link: ['#team', '#history', '#contact-us', '#locations']
      // },
      // {
      //   title: 'Resources',
      //   description: [
      //     'Resource',
      //     'Resource name',
      //     'Another resource',
      //     'Final resource'
      //   ],
      //   link: [
      //     '#resource',
      //     '#resource-name',
      //     '#another-resource',
      //     '#final-resource'
      //   ]
      // },
      // {
      //   title: 'Legal',
      //   description: ['Privacy policy', 'Terms of use'],
      //   link: ['#privacy-policy', '#terms-of-use']
      // }
    ]
  }),
  computed: {
    isDesktop() {
      const mdUp = this.$store.state.breakpoints.mdUp
      return mdUp.indexOf(this.$mq) > -1
    },
    isMobile() {
      const smDown = this.$store.state.breakpoints.smDown
      return smDown.indexOf(this.$mq) > -1
    },
    langList: function() {
      const list = []
      this.$i18n.locales.map(item => {
        list.push({ text: this.$t('common.' + item.code), value: item.code })
      })
      return list
    }
  },
  mounted() {
    this.lang = this.$i18n.locale
  },
  methods: {
    switchLang: function(val) {
      this.$i18n.setLocale(val)
    }
  }
}
</script>
