<template>
  <div class="root">
    <div class="parallax-wrap">
      <v-parallax
        :src="imgAPI.architect[43]"
        :height="570"
      />
    </div>
    <v-snackbar
        :timeout="4000"
        top
        right
        v-model="snackbar"
        class="notification"
    >
      <div class="action">
        Сообщение отправлено
      </div>
      <v-btn
          text
          icon
          @click="snackbar = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
    <v-container class="fixed-width">
      <v-card class="form">
        <h4 class="use-text-title2">
          {{ $t('architectLanding.subscribe_title') }}
        </h4>
        <p class="use-text-subtitle2">
          {{ $t('architectLanding.subscribe_subtitle') }}
        </p>
      </v-card>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
@import './subscribe-style.scss';
</style>

<script>
import imgAPI from '~/static/images/imgAPI'

export default {
  data: () => ({
    valid: true,
    imgAPI: imgAPI,
    email: "",
    snackbar: false,
  }),
  methods: {
    async subscribe() {
      try {
        await this.$axios.$post("/api/subscribe", {
          email: this.email
        })
      } catch (error) {
        console.log(error);
      }
    }
  }
}
</script>
