<template>
  <div class="root">
    <div class="deco" />
    <v-container v-if="loaded" :class="{ 'fixed-width': isDesktop }">
      <u-animate-container>
        <u-animate
          :offset="-10"
          name="fadeInUpShort"
          delay="0.2s"
          duration="0.6s"
        >
          <title-main
            :head="$t('architectLanding.team_title')"
            :desc="$t('architectLanding.team_desc')"
          />
        </u-animate>
      </u-animate-container>
      <div class="team-wrap">
        <u-animate-container>
          <v-row :class="[ isMobile ? 'spacing2' : 'spacing6' ]">
            <v-col
              v-for="(item, index) in team"
              :key="index"
              md="12"
              cols="12"
            >
              <u-animate
                :offset="-10"
                :delay="(0.2 + (0.1 * index)) + 's'"
                name="fadeInUpShort"
                duration="0.3s"
              >
                <div>
                  <profile-card
                    :photo="item.photo"
                    :name="item.name"
                    :title="item.title"
                  />
                </div>
              </u-animate>
            </v-col>
          </v-row>
        </u-animate-container>
      </div>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
@import './team-style.scss';
</style>

<script>
import imgAPI from '~/static/images/imgAPI'
import ProfileCard from '../Cards/Profile'
import Title from '../Title'

const team = [
  {
    photo: [imgAPI.architect[31], imgAPI.architect[32], imgAPI.architect[33], imgAPI.architect[34], imgAPI.architect[35],
      imgAPI.architect[36]],
    name: 'Стильная кухня в темных тонах',
    title: 'Материвл: МДФ пластик. Фурнитура: Blum. Встроенный холодильник и духовой шкаф. Интегрированные ручки. Размер: 2350мм/1200мм'
  },
  {
    photo: [imgAPI.architect[12], imgAPI.architect[13], imgAPI.architect[14], imgAPI.architect[15]],
    name: 'Премиум шкафы-купе',
    title: 'Фасады: Эмаль с фрезой. Размер: 2300мм'
  },
  {
    photo: [imgAPI.architect[16], imgAPI.architect[17], imgAPI.architect[18], imgAPI.architect[19], imgAPI.architect[20]],
    name: 'Кухня белого цвета',
    title: 'Всегда в моде. Фасады МДФ в матовой пленке с фрезеровкой. Столешница пластик 38мм. Фурнитура с доводчиками'
  },
  {
    photo: [imgAPI.architect[21], imgAPI.architect[22], imgAPI.architect[23]],
    name: 'Индивидуальное наполнение',
    title: 'Корпус ЛДСП Egger. МДФ Oracal + soft touch. Тонкий матовый черный профиль. Система раздвижения Aristo nova'
  },
  {
    photo: [imgAPI.architect[24], imgAPI.architect[25], imgAPI.architect[26], imgAPI.architect[27], imgAPI.architect[28],
      imgAPI.architect[29], imgAPI.architect[30]],
    name: 'Кухня с островом',
    title: 'Фасады: пленка МДФ. Столешница пластик. Фурнитура boyard. Размер: 3100мм'
  },
  {
    photo: [imgAPI.architect[37], imgAPI.architect[38], imgAPI.architect[39], imgAPI.architect[40], imgAPI.architect[41],
      imgAPI.architect[42]],
    name: 'Уютная кухня',
    title: 'Фасады: пленка МДФ. Корпус ЛДСП Egger. Фурнитура boyard. Столешница под подоконник. Размер: 1750мм'
  },
  {
    photo: [imgAPI.architect[46], imgAPI.architect[47], imgAPI.architect[48], imgAPI.architect[49], imgAPI.architect[50],
      imgAPI.architect[51], imgAPI.architect[52], imgAPI.architect[53], imgAPI.architect[54]],
    name: 'Кухня в стиле минимализм',
    title: 'Корпус: Egger. Фасады: Пластик. Столешница: Пластик. Фурнитура: Blum'
  },
  {
    photo: [imgAPI.architect[55], imgAPI.architect[56], imgAPI.architect[57], imgAPI.architect[58], imgAPI.architect[59],
      imgAPI.architect[60], imgAPI.architect[61], imgAPI.architect[62], imgAPI.architect[63]],
    name: 'Новая кухня в стиле минимализм',
    title: 'Профиль гало и push-to-open механизм. Скрытые ручки. Фурнитура : Blum. Фасады : Acryline. Столешница : Пластик'
  }
]

export default {
  components: {
    'title-main': Title,
    ProfileCard
  },
  data: () => ({
    loaded: false,
    team: team,
    imgAPI: imgAPI
  }),
  mounted() {
    this.loaded = true
  },
  computed: {
    isDesktop() {
      const mdUp = this.$store.state.breakpoints.mdUp
      return mdUp.indexOf(this.$mq) > -1
    },
    isMobile() {
      const xsDown = this.$store.state.breakpoints.xsDown
      return xsDown.indexOf(this.$mq) > -1
    }
  }
}
</script>
