<template>
  <div class="root">
    <v-container class="fixed-width">
      <v-row class="spacing10" :class="{ 'column-reverse' : !isDesktop }">
        <v-col md="3" cols="12">
          <hidden point="smDown">
            <div v-if="current > 1">
              <h5 class="use-text-title2">
                <span v-if="current < 10">0</span>{{ current - 1 }}
              </h5>
              <p class="use-text-paragraph">
                {{ blogContent[current - 2].title }}
              </p>
            </div>
          </hidden>
          <nav>
            <v-btn
              :disabled="current >= blogContent.length"
              fab
              color="secondary"
              class="next"
              @click="next()"
            >
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
            <v-btn
              :disabled="current <= 1"
              fab
              color="secondary"
              class="prev"
              @click="prev()"
            >
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
          </nav>
        </v-col>
        <v-col md="6" cols="12">
          <div class="blog-wrap">
            <article class="px-2">
              <h3 class="use-text-title2">
                {{ blogContent[current - 1].title }}
              </h3>
              <p class="use-text-paragraph">
                {{ blogContent[current - 1].desc }}
              </p>
            </article>
<!--            <v-btn text class="read-more">-->
<!--              Read More-->
<!--            </v-btn>-->
          </div>
        </v-col>
        <v-col md="3" cols="12">
          <hidden point="smDown">
            <div v-if="current < blogContent.length">
              <h5 class="use-text-title2">
                <span v-if="current < 10">0</span>{{ current + 1 }}
              </h5>
              <p class="use-text-paragraph">
                {{ blogContent[current].title }}
              </p>
            </div>
          </hidden>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
@import './blog-style.scss';
</style>

<script>
import Hidden from '../Hidden'

const blogContent = [
  {
    title: 'Захарова Алина Анатольевна · 17 октября 2020 г.',
    desc:
      'Стильная гостиная. Для нашей комнаты в 17 квадратов вписалась идеально. Единственное замечание, полочка, что весит наверху, по периметру со сколами, за это убираю звезду. Со стороны не видно, но момент неприятный.'
  },
  {
    title: 'Галина · 24 сентября 2020 г.',
    desc:
      'Диван отличный, внешний вид, качество, пользуемся 2 месяца, довольны. Все заявленные характеристики соответствуют действительности. Единственное, доставка была очень долгой, что не противоречит договору.'
  },
  {
    title: 'Шатунова Наталья  · 19 ноября 2019 г.',
    desc:
      'Заказала кухню, привезли через неделю, но в комплекте не хватало деталей. Менеджер ВКонтакте очень доброжелательно был настроен решить нашу проблему, общение предельно вежливое. Еще через неделю нам довезли стекла, которых не хватало, а также одну из стенок шкафа. Спасибо большое!'
  },
  {
    title:
      'Кирилл  · 11 мая 2019 г.',
    desc:
      'Кухню сделали хорошо, по нашему проекту, в мдф, когда привезли заметили что одна дверь с небольшой царапинкой, забрали, и привезли через 2 дня, искали место царапины, так не нашли, сказали что реставратор хороший. Все механизмы хорошие.'
  },
  {
    title:
      'Максим Жмыхов  · 19 сентября 2020 г.',
    desc:
      'Заказывал компьютерный стол, привезли во время, стол был аккуратно упакован. Сборщики вежливые, быстро и качественно собрали, в целом я остался доволен сделанной покупкой. Спасибо Мебельной Истории !!!'
  },
  {
    title:
      'Алексей и Наташа Синицины  · 26 июня 2020 г.',
    desc:
      'Заказывали у ребят встроенный шкаф, привезли немного с задержкой, но зато дали приятную скидку в качестве извинений))) Покупкой и сборкой очень довольны, хорошее качество и приятная цена !'
  },
  {
    title:
      'Михаил Борисов  · 6 октября 2020 г.',
    desc:
      'Нужно было срочно обустроить новый офис, обратился в Мебельную Историю, остался доволен. Заключили с ребятами контракт, сроки все были выдержаны, офис уже функционирует.'
  }
]

export default {
  components: {
    Hidden
  },
  data() {
    return {
      blogContent: blogContent,
      current: 2
    }
  },
  methods: {
    next() {
      this.current = this.current + 1
    },
    prev() {
      this.current = this.current - 1
    }
  },
  computed: {
    isDesktop() {
      const mdUp = this.$store.state.breakpoints.mdUp
      return mdUp.indexOf(this.$mq) > -1
    }
  }
}
</script>
